<!DOCTYPE html>
<html lang="en">
<head>
    <title> Concesionarios Lonsu 33</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@{'/public/stylesheets/coches.css'}">


</head>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionarios Lonsu33</title>


    <link rel="stylesheet" href="@{'/public/stylesheets/parallax.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/coches.css'}">

</head>
<body>
<header>
    <nav>
        <img src="@{'public/images/foto logo definitiva.png'}" class="logo" alt="">
        <div class="menu">
            <a href="@{Application.index()}">Inicio</a>
            <a href="@{Coches.list()}">Coches</a>
            <a href="@{Application.register()}">Login</a>
            <a href="@{Application.contacto()}">Contacto</a>

        </div>

        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>