<!DOCTYPE html>
<html lang="en">
<head>
    <title> Concesionarios Lonsu 33</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@{'/public/stylesheets/coches.css'}">


</head>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionarios Lonsu33</title>


    <link rel="stylesheet" href="@{'/public/stylesheets/parallax.css'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/coches.css'}">

</head>
<body>
<header>
    <nav>
        <img src="@{'public/images/'}" class="logo" alt="">
        <div class="menu">
            <a href="@{Application.index()}">Inicio</a>
            <a href="@{Coches.list()}">Coches</a>
            <a href="@{Application.register()}">Login</a>
            <a href="#">Contacto</a>

        </div>

        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>





</head>

<body>

</header>
<div id="contenedor" class="contenedor">
    <div>
        <img src="@{'public/images/merc g definitiva.png'}" class="logo" alt="">
        <div class="informacion">
            <p>Mercedes G63</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/bmw serie3.png'}" alt="producto 2">
        <div class="informacion">
            <p>BMW M3</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/range rover sport.png'}" alt="producto 3">
        <div class="informacion">
            <p>Range Rover Sport</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/porsche gt3rs.png'}" alt="producto 4">
        <div class="informacion">
            <p>Porsche GT3 RS</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/lexus rx.png'}" alt="producto 5">
        <div class="informacion">
            <p>Lexus RX</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/bmw x5.png'}" alt="producto 6">
        <div class="informacion">
            <p>BMW X5</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/volvo v60.png'}" alt="producto 7">
        <div class="informacion">
            <p>Volvo V60</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/audi q5.png'}" alt="producto 8">
        <div class="informacion">
            <p>Audi Q5</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/tesla model3.png'}" alt="producto 9">
        <div class="informacion">
            <p>Tesla Model 3</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/merc clase c.png'}" class="logo" alt="">
        <div class="informacion">
            <p>Mercedes C63</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/porsche macan.png'}" class="logo" alt="">
        <div class="informacion">
            <p>Porsche Macan</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
    <div>
        <img src="@{'public/images/volvo xc40.png'}" class="logo" alt="">
        <div class="informacion">
            <p>Volvo XC40</p>
            <p class="precio">59<span>.99€</span></p>
            <button>Alquilar</button>
        </div>
    </div>
</div>
<!--
<script src="jquery-1.6.4.min.js"></script>
-->
</body>

</html>